$iroha-brand: rgba(208, 2, 27, 1);
$iroha-brand-light: lighten($iroha-brand, 10%);
$iroha-brand-dark: rgba(187, 2, 24, 1);

:root {
  --vp-c-brand: #{$iroha-brand};
  --vp-c-brand-light: #{$iroha-brand-light};
  --vp-c-brand-dark: #{$iroha-brand-dark};
}

:root {
  --vp-font-family-mono: 'JetBrains Mono', 'Fira Code', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div[class*='language-'] {
  pre {
    font-size: 14px;
  }
}
