@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$iroha-brand: #e4232d;

:root {
  // --c-brand: #{$iroha-brand};
  // --c-brand-light: #{lighten($iroha-brand, 10%)};
  --code-font-family: 'JetBrains Mono', 'Fira Code', var(--font-family-mono);
  --code-font-size: 13px;
  --code-line-height: 1.2em;
  --font-family-base: Inter, sans-serif;
}

:not(pre) > code {
  padding: 0.15em 0.5em;
  border-radius: 4px;
}

body {
  font-family: var(--font-family-base);
}

a {
  font-weight: 500;
}

.custom-block {
  font-size: 14px;
  line-height: 1.6;
}
